# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Local database cache
users_db.json
history_db.json

# Uploads cache
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/

# Tooling & temporary logs
gh.zip
gh_bin/
*.log
